<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'Design request form'%></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<header>
		<%= link_to ('Users', {:controller => 'users', :action => 'index'}, :class => "newRequest") %>
		<%= link_to ('Requests', {:controller => 'documents', :action => 'index'}, :class => "newRequest") %>
	</header>

	<section>
		<%= yield %>
	</section>
	
	<footer>
		<p>Formz v0.1 @ 2011 by William Li</p>
	</footer>

</body>
</html>